<!-- realTimeProducts.handlebars -->

<!DOCTYPE html>
<html>
  <head>
    <title>Real Time Products</title>
  </head>
  <body>
    <h1>Real Time Products</h1>
    
    <ul id="productos-list">
    {{#each productos}}
      <li>
        <span>{{this.title}} - ${{this.price}}</span>
        <button class="eliminar-producto" data-id="{{this.id}}">Eliminar</button>
      </li>
    {{/each}}
  </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('productoCreado', (producto) => {
      const productosList = document.getElementById('productos-list');
      const li = document.createElement('li');
      li.innerHTML = `<span>${producto.title} - $${producto.price}</span>
                      <button class="eliminar-producto" data-id="${producto.id}">Eliminar</button>`;
      productosList.appendChild(li);
    });

    socket.on('productoEliminado', (id) => {
      const productosList = document.getElementById('productos-list');
      const li = document.querySelector(`li[data-id="${id}"]`);
      if (li) {
        productosList.removeChild(li);
      }
    });

    const productosList = document.getElementById('productos-list');
    productosList.addEventListener('click', (event) => {
      if (event.target.classList.contains('eliminar-producto')) {
        const id = event.target.getAttribute('data-id');
        socket.emit('eliminarProducto', id);
      }
    });
  </script>
    {{!-- Actualizar el DOM de home.handlebars con los productos --}}
  <script>
    function renderProductosList(productos) {
    const productosList = document.querySelector('#listaProductos');
    productosList.innerHTML = '';

  productos.forEach((producto) => {
    const li = document.createElement('li');
    li.innerText = `${producto.nombre} - ${producto.precio}`;

    const button = document.createElement('button');
    button.innerText = 'Eliminar';
    li.appendChild(button);

    button.addEventListener('click', () => {
      socket.emit('eliminarProducto', producto);
    });

    productosList.appendChild(li);
  });
}

socket.on('productos', (productos) => {
  renderProductosList(productos);
});

socket.on('productoCreado', (producto) => {
  app.productos.push(producto);
  renderProductosList(app.productos);
});

    </script>
  </body>
</html>


